click
docarray
jupyterlab
jq
langchain
langchain-community
langchain-ollama
langchain-chroma
langchain_experimental
langchain_text_splitters
langfuse
numexpr
pandas
pysqlite3-binary
python-dotenv
wikipedia